<div class="wrapper">
    {{> nav }}
    <div class="board-wrapper" data-id="{{currentBoard.id}}">
        <div class="card board-title outer-card">

            <div id="board-{{currentBoard.id}}" class="card-content grey-text current-board-name text-lighten-2">{{currentBoard.name}}</div>
        </div>
        <div class="card board-star outer-card">
            <a class="card-content board-fav-star grey-text text-lighten-2 material-icons">star_border</a>
        </div>
    </div>
    <div class="rename-board card animated flipInX">
        <div class="card-content grey-text center-align">Rename Board
            <div class="right-align close-rename">
                <i class="material-icons">close</i>
            </div>
            <hr>
            <div class="row left-align">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="board-rename-input" type="text" class="validate">
                            <label for="board-rename-input">Name</label>
                        </div>
                    </div>
                    <button class="rename-board-btn waves-effect waves-light btn green darken-1 white-text">Rename</button>
                    <button class="delete-board-btn waves-effect waves-light btn red right darken-1 white-text">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        {{#each currentBoard.Lists}}
        <div id="list-{{id}}" data-id="{{id}}" class="card outer-card active-card">
            <div class="card-content grey lighten-3">
                <div class="card-name">
                    <strong class="list-name">{{name}}</strong>
                    <a class="grey grey-text ellipsis-btn right center-align lighten-3 dropdown-trigger" href="#!" data-target="remove-list-{{id}}">
                        ...
                    </a>
                </div>
                <div class="card-data">
                    {{#each Cards}}
                    <div id="card-{{id}}" data-id="{{id}}" class="inner-card-wrapper drag-wrapper">
                        <div class="card inner-card">
                            <div class="card-content">
                                <p class="closed-card" contenteditable="false">{{text}}
                                    <i class="fas fa-times close-btn small-close hover-options close-card-wrapper"></i>
                                    <i class="fas fa-edit hover-options"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="add-card-btn-wrapper grey lighten-3">
                <div class="add-card-btn card-content">Add a card...</div>
            </div>
        </div>
        <div id="remove-list-{{id}}" data-id={{id}} class="dropdown-content remove-list card">
            <div class="card-content grey-text center-align">List Actions
                <div class="right-align close-remove-list">
                    <i class="material-icons">close</i>
                </div>
                <hr>
                <ul>
                    <li>
                        <a class="red-text remove-list-btn" href="#">Remove List...</a>
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
        <!-- /each Lists -->
        <div class="card add-list-card outer-card">
            <div class="add-list-btn card-content grey-text text-lighten-2">Add a list...</div>
        </div>
        <!-- /.add-list-card -->
    </div>
    <!-- /.card-wrapper -->
</div>